{% extends "base.html" %}

{% block content %}

<h1>DELIVERY FORM<h1>
<form action="" method="post">
       <fieldset>
           <label for="username">Username</label>
           <input type="text" name="username" placeholder="username">
       </fieldset>
       <fieldset>
           <label for="email"> Email</label>
           <input type="email" name="email" placeholder="xyz@gmail.com">
       </fieldset>
       <fieldset>
           <label for="place">Place</label>
           <input type="place" name="place" placeholder="place">
       </fieldset>
       <button type="submit">Deliver</button>
   </form>
{% endblock %}