{% extends 'base.html'%}
{% block content%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="card" >
                    <img class="card-img-top" src="../static/photos/peeper.jpg" alt="Card image cap" width="200px" height="200px">
                    <div class="card-body">
                        <h5 class="card-title">PEEPERS</h5>
                        <p class="card-text">Price: ksh. 200/kg</p>
                        <a href="#" class="btn btn-primary">Order</a>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card" >
                    <img class="card-img-top" src="../static/photos/hoho.jpg" alt="Card image cap" width="200px"
                        height="200px">
                    <div class="card-body">
                        <h5 class="card-title">BELL PEPPERS</h5>
                        <p class="card-text">Price: ksh.310/kg.</p>
                        <a href="#" class="btn btn-primary">Order</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <img class="card-img-top" src="../static/photos/dan.jpg"
                        alt="Card image cap" width="200px" height="200px">
                    <div class="card-body">
                        <h5 class="card-title">DANIA</h5>
                        <p class="card-text">Price: ksh.350/kg.</p>
                        <a href="#" class="btn btn-primary">Order</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <img class="card-img-top" src="../static/photos/kitunguu.jpg"
                        alt="Card image cap" width="200px" height="200px">
                    <div class="card-body">
                        <h5 class="card-title">ONIONS</h5>
                        <p class="card-text">Price: ksh.350/kg.</p>
                        <a href="#" class="btn btn-primary">Order</a>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="row">
             <div class="col-md-3">
                <div class="card" >
                    <img class="card-img-top" src="../static/photos/ve.jpg"
                        alt="Card image cap"width="200px" height="200px">
                    <div class="card-body">
                        <h5 class="card-title">EGG PLANT</h5>
                        <p class="card-text">Price: ksh.150/kg.</p>
                        <a href="#" class="btn btn-primary">Order</a>
                    </div>
                </div>
            </div> 
            <div class="col-md-3">
                <div class="card" >
                    <img class="card-img-top" src="../static/photos/varun-gaba-jmsf0DA1RU0-unsplash.jpg"
                        alt="Card image cap"width="200px" height="200px">
                    <div class="card-body">
                        <h5 class="card-title">POTATOES</h5>
                        <p class="card-text">Price: ksh.360/kg.</p>
                        <a href="#" class="btn btn-primary">Order</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <img class="card-img-top" src="../static/photos/carrots.jpg"
                        alt="Card image cap" width="200px" height="200px">
                    <div class="card-body">
                        <h5 class="card-title">VEGES</h5>
                        <p class="card-text">Price: ksh.300/kg.</p>
                        <a href="#" class="btn btn-primary">Order</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <img class="card-img-top" src="../static/photos/sweetberry.jpg"
                        alt="Card image cap" width="200px" height="200px">
                    <div class="card-body">
                        <h5 class="card-title">PEPPERS</h5>
                        <p class="card-text">Price: ksh.300/kg.</p>
                        <a href="#" class="btn btn-primary">Order</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
    </div>

</html>
{% endblock %}