<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title></title>
</head>

<body>
    <div class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: #dbb264;" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" style="font-size:35px" href="/"> Online Grocery </a>
            </div>

            <ul class="nav navbar-nav navbar-right">
                {% if current_user.is_authenticated %}
                <li><a href="{{url_for('main.index')}}">Order here</a></li>
                <li><a href="{{url_for('main.index')}}">Contact Us</a></li>
                <br>
                <li style="color:rgb(15, 14, 15);padding:15px;font-weight: bolder;">{{current_user.username}}</li>
                <li><a href="{{url_for('main.profile',name=current_user.username)}}">Profile</a></li>
                <li><a href="{{url_for('auth.logout')}}">Sign out</a></li>
                

                {% else %}
                <li><a href="{{url_for('auth.login')}}">Sign in</a></li>
                {%endif%}
            </ul>
        </div>

    </div>
    </div>
</body>

</html>