<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <h1>Welcome to online Grocery proceed to order</h1>

        <div class="row">
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <img src="https://images.unsplash.com/photo-1502234665511-5745ea0a6a29?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NTB8fHRvbWF0b2VzfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=400&q=60"
                        class="card-img-top" width="70px" alt="Onions">
                    <div class="card-body">
                        <h5 class="card-title">Tomatoes</h5>
                        <a href="#" class="btn btn-primary">Add to cart</a>
                        <p class="ml-2">ksh 100</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <img src="https://images.unsplash.com/photo-1598278242809-6c21ee17aef1?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8c3BpbmFjaHxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"
                        class="card-img-top" width="70px" alt="Onions">
                    <div class="card-body">
                        <h5 class="card-title">Spinach</h5>
                        <a href="#" class="btn btn-primary">Add to cart</a>
                        <p class="ml-2">ksh 100</p>

                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <img src="https://images.unsplash.com/photo-1502234665511-5745ea0a6a29?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NTB8fHRvbWF0b2VzfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=400&q=60"
                        class="card-img-top" width="70px" alt="Onions">
                    <div class="card-body">
                        <h5 class="card-title">Carrots</h5>
                        <a href="{{url_for('.order')}}" class="btn btn-primary">Add to cart</a>
                        <span>
                            <p class="ml-6">ksh 100</p>
                        </span>

                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>