{% extends 'base.html'%}
{% block content%}
<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>The Groceries | Store</title>
    <meta name="description" content="This is the description">
    <link rel="stylesheet" href="../static/style.css">
    <script src="../static/script.js" async></script>
</head>

<body>
      <section class="container content-section">
        <h2 class="section-header">Vegetables & Fruits</h2>
        <div class="shop-items">
            <div class="shop-item">
                <span class="shop-item-title">CABBAGES</span>
                <img class="shop-item-image" src="../static/photos/cabbages.jpg" width="200px" ,height="200px">
                <div class="shop-item-details">
                    <span class="shop-item-price">$12.99</span>
                    <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
                </div>
            </div>
            <div class="shop-item">
                <span class="shop-item-title">CARROTS</span>
                <img class="shop-item-image" src="../static/photos/carrots.jpg" width="200px" ,height="200px">
                <div class="shop-item-details">
                    <span class="shop-item-price">$14.99</span>
                    <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
                </div>
            </div>
            <div class="shop-item">
                <span class="shop-item-title">DANIA</span>
                <img class="shop-item-image" src="../static/photos/dan.jpg" width="200px" ,height="200px">
                <div class="shop-item-details">
                    <span class="shop-item-price">$9.99</span>
                    <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
                </div>
            </div>

        </div>
    </section>
    <section class="container content-section">
        <div class="shop-items">
            <div class="shop-item">
                <span class="shop-item-title">BELL PEPPERS</span>
                <img class="shop-item-image" src="../static/photos/hoho.jpg" width="200px" ,height="200px">
                <div class="shop-item-details">
                    <span class="shop-item-price">$19.99</span>
                    <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
                </div>
            </div>
            <div class="shop-item">
                <span class="shop-item-title">ONIONS</span>
                <img class="shop-item-image" src="../static/photos/kitunguu.jpg" width="200px"
                    ,height="200px">
                <div class="shop-item-details">
                    <span class="shop-item-price">$6.99</span>
                    <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
                </div>
            </div>
            <div class="shop-item">
                <span class="shop-item-title">PEAS</span>
                <img class="shop-item-image" src="../static/photos/peas.jpg" width="200px" ,height="200px">
                <div class="shop-item-details">
                    <span class="shop-item-price">$6.99</span>
                    <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
                </div>
            </div>
            <div class="shop-item">
                <span class="shop-item-title">PUMKIN</span>
                <img class="shop-item-image" src="../static/photos/Pumkin.jpg" width="200px" ,height="200px">
                <div class="shop-item-details">
                    <span class="shop-item-price">$6.99</span>
                    <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
                </div>
            </div>
            <div class="shop-item">
                <span class="shop-item-title">RADISH</span>
                <img class="shop-item-image" src="../static/photos/Radish.jpg" width="200px" ,height="200px">
                <div class="shop-item-details">
                    <span class="shop-item-price">$6.99</span>
                    <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
                </div>
            </div>
            <div class="shop-item">
                <span class="shop-item-title">STRAWBERRY</span>
                <img class="shop-item-image" src="../static/photos/strawberry.jpg" width="200px" ,height="200px">
                <div class="shop-item-details">
                    <span class="shop-item-price">$6.99</span>
                    <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
                </div>
            </div>
            <div class="shop-item">
                <span class="shop-item-title">CABBAGES</span>
                <img class="shop-item-image" src="../static/photos/cabbage.jpg" width="200px" ,height="200px">
                <div class="shop-item-details">
                    <span class="shop-item-price">$6.99</span>
                    <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
                </div>
            </div>
            <div class="shop-item">
                <span class="shop-item-title">CHERRY</span>
                <img class="shop-item-image" src="../static/photos/cherry.jpg" width="200px" ,height="200px">
                <div class="shop-item-details">
                    <span class="shop-item-price">$6.99</span>
                    <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
                </div>
            </div>
            <div class="shop-item">
                <span class="shop-item-title">SWEETBERRY</span>
                <img class="shop-item-image" src="../static/photos/sweetberry.jpg" width="200px" ,height="200px">
                <div class="shop-item-details">
                    <span class="shop-item-price">$6.99</span>
                    <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
                </div>
            </div>
        </div>
    </section>
    <section class="container content-section">
        <h2 class="section-header">CART</h2>
        <div class="cart-row">
            <span class="cart-item cart-header cart-column">ITEM</span>
            <span class="cart-price cart-header cart-column">PRICE</span>
            <span class="cart-quantity cart-header cart-column">QUANTITY</span>
        </div>
        <div class="cart-items">
        </div>
        <div class="cart-total">
            <h1 class="cart-total-title" style="text-align:center;">Total</h1>
            <br>
            <h1 class="cart-total-price" style="text-align:center; font-size: 40px;">$0</h1>
        </div>

    </section>
    <footer class="main-footer">
        <div class="container main-footer-container">
            <h3 class="band-name">The Online Groceries</h3>

        </div>
    </footer>
</body>

</html>
{% endblock %}