   <!DOCTYPE html>
   <html lang="en">

   <head>
       <meta charset="UTF-8">
       <meta http-equiv="X-UA-Compatible" content="IE=edge">
       <meta name="viewport" content="width=device-width, initial-scale=1.0">
       <title>Document</title>
       <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
           integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
   </head>

   <body>
       <section id="" class="">
           <div class="container">
               <h1>Welcome to Online Groceries</h1>
               <div class="row">
                   <div class="col-md-4">
                       <img class="main-image" width="200px"
                           src="https://images.unsplash.com/photo-1590779033100-9f60a05a013d?ixid=MnwxMjA3fDB8MHxzZWFyY2h8OHx8Z3JvY2VyaWVzfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" />
                       <h2>{{ name }}</h2>
                       <div class="price">$20</div>

                           <br>
                           <button type="button" class="btn btn-success">Add to cart</button>
                       </p>


                   </div>
                   <div class="col-md-4">
                       <img class="main-image" width="200px"
                           src="https://images.unsplash.com/photo-1599274952981-4b6ff4d2af1c?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTExfHxncm9jZXJpZXN8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" />
                       <h2>{{ name }}</h2>
                       <div class="price">$29</div>

                           <br />
                           <button type="button" class="btn btn-success">Add to cart</button>


                   </div>
                   <div class="col-md-4">
                       <img class="main-image" width="200px"
                           src="https://images.unsplash.com/photo-1598357850653-a610249f7417?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NzB8fGdyb2Nlcmllc3xlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" />
                       <h2>{{ name }}</h2>
                       <div class="price">$19</div>
                           <br />
                           <button type="button" class="btn btn-success">Add to cart</button>
                   </div>
               </div>
               <div class="row">
                   <div class="col-md-4">
                    <img class="main-image" width="200px"
                    src="https://images.unsplash.com/photo-1598357850653-a610249f7417?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NzB8fGdyb2Nlcmllc3xlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" />
                <h2>{{ name }}</h2>
                <div class="price">
                    $20
                </div>
                <button type="button" class="btn btn-success">Add to cart</button>

                <br>
                   </div>
                   <div class="col-md-4">
                    <img class="main-image" width="200px"
                        src="https://images.unsplash.com/photo-1598357850653-a610249f7417?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NzB8fGdyb2Nlcmllc3xlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" />
                    <h2>{{ name }}</h2>
                    <div class="price">$29</div>
                        <br />
                        <button type="button" class="btn btn-success">Add to cart</button>
                   
                </div>
                <div class="col-md-4">
                    <img class="main-image" width="200px"
                        src="https://images.unsplash.com/photo-1598357850653-a610249f7417?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NzB8fGdyb2Nlcmllc3xlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" />
                    <h2>{{ name }}</h2>
                    <div class="price">$20</div>
                        <br />
                        <button type="button" class="btn btn-success">Add to cart</button>
                   
                </div>
               </div>
           </div>
       </section>
   </body>

   </html>